@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Product Sans'; 
  src: url('../../../fonts/ProductSans/ProductSans-Regular.ttf') format('woff2');
  font-weight: 400; 
  font-style: normal; 
}

@font-face {
  font-family: 'Helvetica Neue'; 
  src: url('../../../fonts/helvetica-neue-5/HelveticaNeueMedium.otf') format('woff2');
  font-weight: 400; 
  font-style: normal; 
}

@font-face {
  font-family: 'segoe-ui-this'; 
  src: url('../../../fonts/segoe-ui-this/segoeuithis.ttf') format('woff2');
  font-weight: 400; 
  font-style: normal; 
}

.organization-container {
  display: flex;
  min-height: 100vh; 
  background-color: rgb(235, 235, 235); 
  font-family: 'Product Sans'; 
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #a799b9; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.header h1, h2 {
  color: black !important;
  font-family: 'Product Sans'; 
}

.header-title {
  font-size: 2rem; 
  font-weight: bold; 
  color: black !important;
  margin-bottom: 10px; 
}

.header-id {
  font-size: 1.2rem; 
}

.header p {
  color: black;
  font-size: 24px;
}

.content {
  flex: 1; 
  padding: 20px;
  font-family: 'Product Sans'; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Make content take full width */
}

.sidebar-links a,
a {
  display: block;
  padding: 10px 15px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333; 
  border-radius: 3px; 
  transition: background-color 0.2s ease-in-out; 
}

.sidebar-links a:hover,
a:hover {
  background-color: #eee;
}

.options {
  padding-top: 5vh;
  display: flex;
  flex-direction: column; /* Stack links vertically */
  align-items: center; /* Center links horizontally */
  font-size: 24px;
  font-family: 'segoe-ui-this'; 
  font-size: 30px;
  width: 100%; /* Make sure options take full width */
  text-align: center; /* Center text */
}

.options a {
  color: rgb(0, 122, 183); 
  text-decoration: underline;
  margin-bottom: 20px; /* Add spacing between links */
}

.options a:visited {
  color: rgb(0, 120, 248); 
  text-decoration: underline; 
}

.link1, .link2 {
  padding-bottom: 50px;
}

.logout-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logout-button {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.logout-button:hover {
  background-color: #d32f2f; /* Darker red */
}
