.user-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

p {
  color: black;
}

h1 {
  color: #009f1b !important;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.121);
  font-size: 40px !important;
  
}

.chat-wrapper {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 900px; 
  margin: 0 auto;
}

.bot-image {
  width: 400px; /* Size of the bot image */
  height: 400px; /* Maintain aspect ratio */
  margin-right: 10px; /* Decrease the space between the bot image and the chatbox */
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(0, 0, 0) !important;
}

.chat-history {
  border: none;
  border-radius: 12px;
  padding: 10px;
  height: 350px; /* Increase height of the chatbox */
  overflow-y: auto;
  background-color: #f6f6f6;
}

.message {
  margin-bottom: 10px;
}

.message-container {
  display: flex;
}

.user-message-container {
  justify-content: flex-end;
}

.bot-message-container {
  justify-content: flex-start;
}

.user-message {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: #dcf8c6;
  max-width: 80%;
}

.bot-message {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: #dcdcdc;
  max-width: 80%;
}

form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  background-color: #000000;
  outline: none;
}

button[type="submit"] {
  background-color: #00ff88;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #00b31e;
}

button[type="submit"]:focus {
  outline: none;
}

.chat-history::-webkit-scrollbar {
  width: 6px;
}

.chat-history::-webkit-scrollbar-thumb {
  background-color: #b8b7b7;
  border-radius: 10px;
}

.chat-history::-webkit-scrollbar-track {
  background-color: transparent;
}