@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@font-face {
  font-family: 'Product Sans'; 
  src: url('./fonts/ProductSans/ProductSans-Regular.ttf') format('woff2');
  font-weight: 400; 
  font-style: normal; 
}

@font-face {
  font-family: 'Helvetica Neue'; 
  src: url('./fonts/helvetica-neue-5/HelveticaNeueMedium.otf') format('woff2');
  font-weight: 400; 
  font-style: normal; 
}


@font-face {
  font-family: 'segoe-ui-this'; 
  src: url('./fonts/segoe-ui-this/segoeuithis.ttf') format('woff2');
  font-weight: 400; 
  font-style: normal; 
}

body {
  margin: 0;
  padding: 0;
  background: #e8fdf1 !important;  /* fallback for old browsers */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: transparent;
  padding: 10px;
  display: flex;
  font-family: 'segoe-ui-this'; 
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nav-right {
  display: flex;
  gap: 20px;
}

.nav-right a {
  color:rgb(213, 213, 213);
  text-decoration: none;
  font-weight: bold;
}

.content {
  font-family: 'segoe-ui-this' !important; 
  font-size: 1.4rem;
  text-align: center;
  color: white;
  flex-direction: column;
}

.content h1 {
  font-size: 7rem;
  font-family: 'Product Sans'; 
  margin: 0;
  margin-top: 50px;
  color: transparent; /* Set text color transparent */
  font-weight: bold;
  background: linear-gradient(to right, #009148, #004c24); /* Adjust gradient colors */
  -webkit-background-clip: text; /* Apply background to text */
  background-clip: text;
}


.content p{
  color: #57d000;
  font-size: 15px;
}
/* Updated LandingPage.css */

.containers {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background: linear-gradient(to bottom, #007d43 0%, #00ab5b 100%);
  color: #fff;
  padding: 15px;
  overflow-y: auto;
  height: 100%;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.nav {
  list-style: none;
  padding: 0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.nav-link:hover {
  background: #94ffca;
  color: #007224;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

.content-image {
  margin-left: 20px; /* Adjust as needed */
  margin-top: 70px;
}

.content-image img {
  max-width: 60vh;
  height: auto;
  filter: drop-shadow(0px 4px 8px rgba(0, 0.7, 0, 0.9));
 
}

