/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");

@font-face {
  font-family: "Product Sans";
  src: url("../../../fonts/ProductSans/ProductSans-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/helvetica-neue-5/HelveticaNeueMedium.otf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "segoe-ui-this";
  src: url("../../../fonts/segoe-ui-this/segoeuithis.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* General Body Styling */
body {
  background: #e8fdf1;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height:fit-content;
}

/* Dashboard Container */
.dashboard {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Admin Dashboard Heading */
.admin-dashboard-heading {
  text-align: center;
  color: #009f1b;
  font-size: 40px;
  padding: 10px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Content Wrapper */
.content-wrapper {
  width: 100%;
  max-width: 800px; /* Adjust max-width as needed */
  padding: 20px;
}

h1 {
  font-size: medium;
}
/* White Container */
.white-container {
  width: 500px;
  height: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.352);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Buttons Container */
.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.4s;
  align-items: center;
}

.buttons-container.small {
  align-items: flex-start;
}

.buttons-container.large .card-button {
  width: 300px;
  height: 95px;
  background-color: #0d9953;
}

.buttons-container.large .card-button img {
  width: 70px;
  height: 70px;
}

.buttons-container.large .card-button:hover {
  background-color: #128f47; /* Change background color on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.buttons-container.small .card-button {
  width: 200px;
  height: 60px;
}

.error-message {
  color: #dc3545;
  margin-top: 10px;
}

.card-button {
  background: #00783c;
  color: white;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  gap: 10px;
}

.card-button img {
  width: 30px;
  height: 30px;
}

.card-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.card-button:focus {
  outline: none;
}

/* Navigation Buttons Styling */
.navigation-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.small-navigation-button {
  background-color: #00783c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  width: 150px;
  text-align: center;
  transition: background-color 0.3s;
}

.small-navigation-button:hover {
  background-color: #13673d;
}



/* Cards Container */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: black;
}

/* Individual Card Styling */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will push the card-actions to the bottom */
  width: calc(33.333% - 20px); /* Adjust width for three cards per row with gap */
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 218, 116, 0.8);
  transform: translateY(-5px);
}

.card h4 {
  margin: 0 0 10px 0;
}
.card h5 {
  margin: 0 0 10px 0;
}

.card h5 {
  margin-top: 10px;
}

/* Card Actions Styling */
.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto; /* Push card-actions to the bottom */
}

.card-actions button {
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.card-actions .update-button {
  background-color: #05aa31;
  color: #fff;
  font-size: small;
}

.card-actions .delete-button {
  background-color: #f83246;
  color: #fff;
  font-size: small;
}

.card-actions .update-button:hover {
  background-color: #007d0c;
}

.card-actions .delete-button:hover {
  background-color: #c82333;
}


.edit-patient-form {
  background-color: #eaeaea;
  display: inline-block;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  max-width: 500px;
  margin: 0 auto;
}

.edit-patient-form h2 {
  text-align: center;
}

.edit-patient-form label {
  display: block;
  margin-bottom: 0px;
}

.edit-patient-form input,
.edit-patient-form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px !important;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.form-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px !important;
  cursor: pointer;
}

.form-actions button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

.form-actions button[type="button"] {
  background-color: #f44336;
  color: white;
}

.form-actions button[type="button"]:hover {
  background-color: #c82333;
  color: white;
}


.edit-hospital-form{
  background-color: #eaeaea;
  display: inline-block;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  max-width: 500px;
  margin: 0 auto;
}



.edit-hospital-form h3 {
  text-align: center;
}

.edit-hospital-form label {
  display: block;
  margin-bottom: 0px;
}

.edit-hospital-form input,
.edit-hospital-form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px !important;
}
