@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Product Sans';
  src: url('../../../fonts/ProductSans/ProductSans-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../../fonts/helvetica-neue-5/HelveticaNeueMedium.otf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'segoe-ui-this';
  src: url('../../../fonts/segoe-ui-this/segoeuithis.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}


.View-Page {
  display: flex;
}

.side-panel {
  width: 20%;
  background-color: #05aa31;
  flex-direction: column;
  height: 100vh; 
  
}

.side-panel button {
  background-color: #ececec !important;
  color: black !important;
}

.side-panel button:hover {
  background-color: #a0a0a0 !important;
}

.view-patients {
  display: flex;
  margin: 0px; 
  padding: 10px;
  color: black !important;
  justify-content: center;
  align-items: center;
}

.white-boxss {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  text-align: center;
  width: 900px;
  height: 480px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

 .pagess  {
  text-align: center;
  color: rgb(0, 150, 20) !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  margin-top: 5px;
  font-family: 'Helvetica Neue', sans-serif; 
  margin-bottom: 1px;
}

.table-container {
  overflow-y: auto;
  flex: 1;
  width: 100%;
}

table {
  width: 100%;
 
}

thead {
  background-color: #0d6c1b !important;
  color: #fff;
  font-size: 5px !important;
  position: sticky;
  width: 100%;
  top: 0;
  table-layout: fixed;
}

tbody tr:nth-child(even) {
  background-color: #e5ffb8;
}

tbody tr:nth-child(odd) {
  background-color: #c5fec2;
}

tbody tr:hover {
  background-color: #d2cd8e;
}

th, td {
  padding: 2px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  word-wrap: break-word;
  font-size: 12px;
}


thead th:last-child,
tbody td:last-child {
  text-align: right;
}




input[type="email"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 180px;
  height: 20px;
  box-sizing: border-box;
  line-height: 20px; /* Ensures text is vertically centered */
}

input[type="email"]::placeholder {
  color: #d1d1d1;
  opacity: 1; 
  line-height: 20px; /* Ensures placeholder text is vertically centered */
}

input::placeholder {
  color: #d1d1d1;
  opacity: 1; 
}

input[type="email"]:focus {
  border-color: #ffd700;
}

.invite-button-container {
  text-align: right;
}

.btn {
  background-color: #12aa01 !important;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'segoe-ui-this';
  font-size: 13px;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #197708;
}

.logout-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logout-button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.logout-button:hover {
  background-color: #d32f2f;
}
