@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@font-face {
  font-family: 'Product Sans'; 
  src: url('../../../fonts/ProductSans/ProductSans-Regular.ttf') format('woff2');
  font-weight: 400; 
  font-style: normal; 
}

@font-face {
  font-family: 'Helvetica Neue'; 
  src: url('../../../fonts/helvetica-neue-5/HelveticaNeueMedium.otf') format('woff2');
  font-weight: 400; 
  font-style: normal; 
}

@font-face {
  font-family: 'segoe-ui-this'; 
  src: url('../../../fonts/segoe-ui-this/segoeuithis.ttf') format('woff2');
  font-weight: 400; 
  font-style: normal; 
}


.view-patients {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: black !important
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #c0c0c0;
  }
  
  .highlight {
    background-color: #ffffcc; /* Light yellow */
  }
  


  
.logout-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logout-button {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.logout-button:hover {
  background-color: #d32f2f; /* Darker red */
}


